@import url(https://fonts.googleapis.com/css?family=Patrick+Hand':300,400,700);


*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #cc3333;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Patrick Hand', Arial, sans-serif;
}

a {
	color: #ffdb00;
	text-decoration: none;
	outline: none;
}

/* background colors */
.demo-2 { background: #ffffe5; }
.demo-2 a { color: #cc3333; }

a:hover, a:focus {
	color: #fff;
}

section {
	padding: 1em;
	text-align: center;
}

