@font-face {
	font-family: 'MTF Krystyna';
	src: url('../font/MTFKrystyna.eot');
	src: url('../font/MTFKrystyna.eot?#iefix') format('embedded-opentype'),
		url('../font/MTFKrystyna.woff2') format('woff2'),
		url('../font/MTFKrystyna.woff') format('woff'),
		url('../font/MTFKrystyna.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #cc3333;
	font-weight: 400;
	font-size: 2.5em;
	font-family: 'MTF Krystyna', Arial, sans-serif;
}

a {
	color: #ffdb00;
	text-decoration: none;
	outline: none;
}

/* background colors */
.demo-2 { background: #ffffe5; }
.demo-2 a { color: #cc3333; }

a:hover, a:focus {
	color: #fff;
}

section {
	padding: 1em;
	text-align: center;
}

/* form styles */

input {
      font-size: 26px;
      font-weight: bold;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid #f8d000;
      background: transparent;
      color: #cc3333;
    }
    
textarea {
      font-size: 26px;
      font-weight: bold;
      padding: 30px 10px 10px 5px;
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid #f8d000;
      background: transparent;
      color: #f8d000;
    }
    
.submit-input {
      float:right;
      margin: 10px;
      padding: 5px 10px;
      border: 2px solid #f8d000;
      cursor: pointer;
      display: block;
      color: #f8d000;
      text-transform: uppercase;
      width:10%;
    }
    
    input:focus,
    textarea:focus {
      outline: none;
    }
    
    /* LABELS ======================================= */
    
    label {
    	color: #cc3333;
      	font-size: 30px;
      	font-weight: normal;
      	position: absolute;
      	left:15px;
      	pointer-events: none;
      	transition: 0.2s ease all;
      	-moz-transition: 0.2s ease all;
      	-webkit-transition: 0.2s ease all;
    }
    
    .label-1 {
      top: 55px;
    }
    
    .label-2 {
      top: 105px;
    }
    .label-3 {
      top: 280px;
    }
    
    .dt-message {
      top: 180px;
    }
    
    /* active state */
    
    .input-1:focus ~ .label-1,
    .input-1:valid ~ .label-1 {
      top: 40px;
      font-size: 26px;
      color: #ff8d00;
    }
    .input-2:focus ~ .label-2,
    .input-2:valid ~ .label-2 {
      top: 90px;
      font-size: 26px;
      color: #ff8d00;
    }
    
    textarea:focus ~ .label-3 {
    	top: 140px;
      	font-size: 26px;
      	color: #ff8d00;
    }
    
    /* BOTTOM BARS ================================= */
    
    .bbar-1,
    .bbar-2,
    .bbar-3 {
      position: relative;
      display: block;
      width: 100%;
    }
    
    .bbar-1:before,
    .bbar-1:after,
    .bbar-2:before,
    .bbar-2:after,
    .bbar-3:before,
    .bbar-3:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: #cc3333;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    
    .bbar-1:before,
    .bbar-2:before,
    .bbar-3:before{
      left: 50%;
    }
    
    .bbar-1:after,
    .bbar-2:after,
    .bbar-3:after{
      right: 50%;
    }
    
    /* active state */
    
    .input-1:focus ~ .bbar-1:before,
    .input-2:focus ~ .bbar-2:before,
    textarea:focus ~ .bbar-3:before,
    .input-1:focus ~ .bbar-1:after,
    .input-2:focus ~ .bbar-2:after,
    textarea:focus ~ .bbar-3:after {
      width: 50%;
    }
